<% provide(:title, "Contact") %>
<h3>Contact</h3>
<p> <b>Author:</b> Michal Farkaš</p>
<p><b>Email: </b> michalfarkas1@gmail.com </p>
<p> <b>Created:</b>  March-June 2014 -->  Research Seminar project (
  <%=  link_to "FIIT STU", "http://www.fiit.stuba.sk"%>)
</p>