<% provide(:title, 'About') %>
<h1>About LeagueA</h1>
<div class="well">
<p>
  LeagueA is a webpage, which helps to find and create leagues of different often
  rare sports.
</p>
<p>
  Users can find league that suits their needs or they, if they have neccesary planning abilities,
  can create their own league.
</p>
<p>
  When you create your league you are automatically set as admin for this particular
  league. This enables you to manage league in variety of ways, such as control of participants,
  creating and closing events, posting news to league page and more.
</p>
<p>
  As a ordinary user you can join league and if admin of that particular league accepts your request, you are qualified
  and you can participate in events. Events works as a matches or tournaments, it is onlz way of gaining score.
</p>
<p>
  As a unregistered user you can search for suitable league and view all informations about league
  that are visible for ordinary user. You can not howewer join league or create your own.
</p>
</div>