<% provide(:title, @league.name) %>
<h1><%= @league.name %></h1>
  <%= render "sidebox"%>

<div class = "well" style="float: right; width: 70% ;padding:  10px 10px 10px 10px " >
  <ul class="users">
    <%= render @league.newsposts.reverse %>
  </ul>
</div>
