
<div style="float: left; width: 30%">
  <aside2 >
    <section>
      <ul class="nav pull-left">
        <li><%= link_to "Home", user_path %></li>
        <li><%= link_to "Upcoming events", events_user_path %></li>
        <li><%= link_to "My participations", participations_user_path %></li>
      </ul>
    </section>
  </aside2>
</div>