<% provide(:title, "My Events") %>
<div class= "well" style= "padding-top: 20px; width: 20%;float: left" >
  <aside class="span5">
    <section>
      <h1>
        <%= @user.name %>


      </h1>
      <%= gravatar_for @user %>
    </section>
    <%= render "sidebox" %>
  </aside>
</div>
<h1>Upcoming events</h1>
<div class= "well" style="float: left; width: 65%;margin: 10px 10px 10px 10px" >
    <section>
      <ul>
        <%= render @user.events %>
      </ul>
    </section>
</div>