<div style="float: left; width: 49% ;padding:  10px 10px 10px 10px " >
        <p>LeagueA v0.11 © Michal Farkaš</p>
</div>
<div style="float: right; width: 10% ;padding:  10px 10px 10px 10px " >
  <%= link_to "About", help_path %>
  <%= link_to "Contact", static_pages_contact_path %>
</div>